/* Main Page Styling Enhanced */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    color: #333;
}

.gameframe {
    background-color: #fafafa;
    /* border: 1px solid #e0e0e0; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    border-radius: 8px;
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
    width: max(300px, 50vw);
}

.label, .input {
    font-size: 1.8rem;
    color: #555;
}

.gridcontainer {
    font-size: 1.4rem;
}

#status {
    background-color: #fcfcfc;
    transition: background-color 0.3s ease-in-out;
}

.btn, button {
    padding: 8px 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover, button:hover {
    background-color: #296029;
    transition: all 0.3s ease-in-out;
}

.footer {
    border-top: 1px solid #e0e0e0;
    padding: 12px;
    background-color: #fafafa;
}

/* Center Alignment Enhanced */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input Functionality Enhanced */
.input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 6px;
    margin: 6px;
    background-color: #ececec;
    border-radius: 4px;
}

.input[contenteditable=true]:empty::before {
    content: attr(placeholder);
    color: #aaa; 
}
